@use '../../../../variables';

.port-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transition: background-color .1s linear;
    border-width: 2px;
    border-style: solid;
    &.input {
        margin-left: .65em;
    }
    &.output {
        margin-right: .65em;
    }
    &:not(.locked):hover {
        cursor: pointer;
    }
    &.number {
        background-color: rgba(variables.$number, 0.15);
        border-color: variables.$number;
        &:not(.locked):hover {
            background-color: rgba(variables.$number, 0.25);
        }
    }
    &.bool {
        background-color: rgba(variables.$bool, 0.15);
        border-color: variables.$bool;
        &:not(.locked):hover {
            background-color: rgba(variables.$bool, 0.25);
        }
    }
    &.string {
        background-color: rgba(variables.$string, 0.15);
        border-color: variables.$string;
        &:not(.locked):hover {
            background-color: rgba(variables.$string, 0.25);
        }
    }
    &.object {
        background-color: rgba(variables.$object, 0.15);
        border-color: variables.$object;
        &:not(.locked):hover {
            background-color: rgba(variables.$object, 0.25);
        }
    }
}