@use '../../../../variables';

.port-circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1em;
    height: 1em;
    .port-circle {
        visibility: visible;
        align-self: center;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        transition: all .1s linear;
        border-width: 0px;
        border-style: solid;
        &:not(.locked).expand {
            cursor: pointer;
            transform: scale(2);
        }
        &.number {
            background-color: rgba(variables.$number, 0.5);
            border-color: variables.$number;
        }
        &.bool {
            background-color: rgba(variables.$bool, 0.5);
            border-color: variables.$bool;
        }
        &.string {
            background-color: rgba(variables.$string, 0.5);
            border-color: variables.$string;
        }
        &.object {
            background-color: rgba(variables.$object, 0.5);
            border-color: variables.$object;
        }
        &:not(.expand).hidden {
            visibility: hidden;
        }
    }
}