@use '../../../../variables';

.port-datatype-container {
    .port-datatype {
        transition: color .1s linear;
        &:not(.locked):hover {
            cursor: pointer;
            color: variables.$text-primary !important;
        }
    }
    &.input {
        .port-datatype {
            margin-left: 0.5em;
            color: variables.$input;
        }
    }
    &.output {
        .port-datatype {
            margin-right: 0.5em;
            color: variables.$output;
        }
    }
}
