<div class="port-control" *ngIf="_port$ | async; let port" [ngClass]="{'input': isInput(), 'output': isOutput()}">
    <port-delete-button *ngIf="isOutput()" [locked]="(_locked$ | async)!" (onDeletePort)="deletePort()"></port-delete-button>
    <port-circle [id]="port.id" [direction]="port.direction" [datatype]="port.datatype" [locked]="(_locked$ | async)!" [hidden]="(_portHidden$ | async)!" (onClickPort)="clickPort()"></port-circle>
    <port-datatype [datatype]="port.datatype" [direction]="port.direction" [locked]="(_locked$ | async)!" (onSelectDatatype)="selectDatatype($event)"></port-datatype>
    <port-delete-button *ngIf="isInput()" [locked]="(_locked$ | async)!" (onDeletePort)="deletePort()"></port-delete-button>
</div>