.blueprint-title {
    display: flex;
    height: 100%;
    input {
        color: inherit;
        background-color: inherit;
        text-align: center;
        font-size: 1em;
        border: none;
        outline: none;
    }
}