<div class="blueprint" cdkDrag (cdkDragMoved)="drag()" (mousedown)="grab()" (mouseup)="release()" [ngClass]="{'mouse-down': isDragging$ | async, 'locked': isLocked$ | async}">
    <div class="header" [ngClass]="{'locked': isLocked$ | async}">
        <h1 class="title">POST /todos</h1>
        <span class="lock-button open" (click)="toggleLock()" [ngClass]="{'open': !(isLocked$ | async), 'closed': isLocked$ | async}">
            <mat-icon *ngIf="!(isLocked$ | async)">lock_open</mat-icon>
            <mat-icon *ngIf="isLocked$ | async">lock</mat-icon>
        </span>
    </div>
    <hr>
    <div class="contract">
        <div class="inputs">
            <port-add-button [direction]="'input'" [locked]="(isLocked$ | async)!" (onAddPort)="addInput()"></port-add-button>
            <port-control *ngFor="let input of inputs$ | async" [port]="input" [locked]="(isLocked$ | async)!" (onSelectDatatype)="selectPortType(input, $event)" (onDeletePort)="deletePort(input)"></port-control>
        </div>
        <div class="outputs">
            <port-add-button [direction]="'output'" [locked]="(isLocked$ | async)!" (onAddPort)="addOutput()"></port-add-button>
            <port-control *ngFor="let output of outputs$ | async" [port]="output" [locked]="(isLocked$ | async)!" (onSelectDatatype)="selectPortType(output, $event)" (onDeletePort)="deletePort(output)"></port-control>
        </div>
    </div>
</div>
