@use '../../variables';

.blueprint {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 15em;
    border-radius: 15px;
    border: 3px solid variables.$primary;
    background-color: rgba(variables.$primary, 0.25);
    transition: background-color .1s linear;
    &.locked {
        background-color: rgba(variables.$background, 0.25);
    }
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(black, 0.35) 0px 5px 15px;
    cursor: grab;

    blueprint-contract {
        flex: 1;
    }

    &.mouse-down {
        cursor: grabbing;
    }
}