$background: rgb(20, 28, 37);
$primary: rgb(82, 76, 63);
$text-primary: rgb(196, 184, 134);

$number: rgb(146, 195, 223);
$bool: rgb(205, 146, 223);
$string: rgb(146, 223, 169);
$object: rgb(223, 190, 146);